*{
    margin:0;
    box-sizing: border-box;
}
.ForgotPassword{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0,2rem;
    background-color: #c78a7d;
}

.ForgotPassword_Image{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.ForgotPassword_Image img{
    width: 500px;
}

.ForgotPassword_Box{
    display: flex;
    align-items: center;
}


.ForgotPassword_Box input{
    width: 125%;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    border-color: white;
}

.ForgotPassword_Box input[type="submit"]{
    width: 70%;
    padding: 10px;
    margin-left: 120px;
    border-radius: 20px;
    color: white;
    background-color: #CE5B46;
    border-color: #CE5B46;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
}
.ForgotPassword_Box input[type="submit"]:hover{
    cursor: pointer;
}

.ForgotPassword_Box .title_SU{
    margin-left: 75px;
    color: White;
}
